.Contact__list {
  margin: 0;
  padding: 0;
  font-size: 26px;
  line-height: 1.3;
  list-style: none;
  background-color: #f1f1f1;
}
.Contact__item {
  margin: 15px;
  padding: 10px;
  font-size: 19px;
  line-height: 1.2;
}
.button__delete {
  background-color: #fff;
  font-size: 20px;
  line-height: 1.3;
  border-color: #f44336;
  color: #f44336;
}
.button__delete:hover {
  color: #fff;
  background-color: #f44336;
}
